<ol class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li><a ui-sref="authorizationRoles">Roles</a></li>
  <li>{{role.name}}</li>
</ol>

<form class="form-horizontal" role="form" name="roleForm">
  <fieldset>

    <div class="form-group">
      <label class="col-md-2 control-label" for="role-name">Name:</label>  
      <div class="col-md-4">
        <input id="role-name" type="text" class="form-control" ng-model="role.name">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="role-users">Users:</label>  
      <div class="col-md-4">
        <input id="role-users" type="text" class="form-control" ng-model="role.users">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="role-permissions">Permissions:</label>  
      <div class="col-md-4">
        <input id="role-permissions" type="text" class="form-control" ng-model="role.permissions">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2"></div>  
      <div class="col-md-10">
      <button class="btn" ng-class="modified ? &apos;btn-danger&apos; : &apos;btn-default&apos;" ng-disabled="! modified" ng-click="saveRole(role)">Save changes</button>
      </div>
    </div>
    
    {{role}}

  </fieldset>
</form>