Source: tracker
Section: devel
Priority: extra
Maintainer: Stuart Watt <stuart@morungos.com>
Build-Depends: debhelper (>= 7.0.15)
Standards-Version: 3.8.4
Homepage: https://github.com/pughlab/tracker

Package: tracker
Architecture: all
Pre-Depends: debconf, coreutils (>= 6.10)
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, daemon, psmisc, nginx-light, openjdk-8-jre
Description: A generic tracking system, designed to be connected to some
 kind of persistent storage and some other kind of authentication system,
 allow a kind of spreadsheet view with the data persisted, and different
 users seeing different data.
