Source: tracker-webapp
Section: devel
Priority: extra
Maintainer: Stuart Watt <stuart@morungos.com>
Build-Depends: debhelper (>= 7.0.15), dh-python
Standards-Version: 3.8.4
Homepage: https://github.com/pughlab/tracker

Package: tracker-webapp
Architecture: all
Pre-Depends: debconf, coreutils (>= 6.10)
Depends: ${misc:Depends}, adduser, daemon, psmisc, nginx-light, openjdk-8-jre
Description: Secure web application with a spreadsheet view onto
 persistent data for research project tracking.
