<div ng-controller="StudySettingsEditorController">
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">
        Common settings for a study are managed here.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="text-muted">
        States and labels provide visual feedback on the state of a case, and allow automatic changes of state
        based on attribute values.
      </p>
      <table class="table table-condensed">
        <tr ng-repeat="label in ['label1', 'label2', 'label3', 'label4', 'label5', 'label6', 'label7', 'label8', 'label9']">
          <td class="col-md-2" ng-class="label">{{label}}</td>
          <td class="col-md-4"><input type="text" class="form-control" ng-model="labels[label]"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">
        Use this for study specific notes. It's written using
        <a target="blank" href="https://daringfireball.net/projects/markdown/basics">Markdown text</a>,
        so you can use formatting in this text.
      </p>
      <textarea class="form-control" ng-model="study.study.about" class="about-editor"></textarea>
    </div>
  </div>
</div>
