<div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">
        Use this for study specific notes. It's written using
        <a target="blank" href="https://daringfireball.net/projects/markdown/basics">Markdown text</a>,
        so you can use formatting in this text.
      </p>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="study.study.options.public"> Make these notes visible to everyone
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="aboutLinkEditor">Link text</label>
        <input class="form-control" ng-model="study.study.options.aboutLink" id="aboutLinkEditor" placeholder="How to use Tracker"></input>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <textarea class="form-control about-editor" ng-model="study.study.about" class="about-editor"></textarea>
    </div>
  </div>
</div>
