<ol class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li>{{params.studyName}}</li>
</ol>

<div class="row">
  <div class="col-sm-3">
    <div class="list-group">
      <a class="list-group-item" ui-sref="adminStudy.settings">Study settings</a>
      <a class="list-group-item" ui-sref="adminStudy.notes">Study notes</a>
      <a class="list-group-item" ui-sref="adminStudy.labels">States and labels</a>
      <a class="list-group-item" ui-sref="adminStudy.attributes">Attributes</a>
      <a class="list-group-item" ui-sref="adminStudy.roles">Roles</a>
      <a class="list-group-item" ui-sref="adminStudy.views">Views</a>
    </div>
  </div>
  <div class="col-sm-9">
    <div ui-view></div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <button class="btn" ng-class="modified ? &apos;btn-danger&apos; : &apos;btn-default&apos;" ng-disabled="! modified" ng-click="save(study)">Save changes</button>
        <button class="btn btn-default" ng-disabled="! modified" ng-click="reset()">Reset</button>
        <button ng-show="study.audit" ng-disabled="modified" class="btn btn-default" ui-sref="adminAudit({studyName: study.name})">Show study audit log</button>
      </div>
    </div>
  </div>
</div>
