<div ng-controller="StudyRoleEditorController">
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">
        This manages the available study roles. Roles can be authorized for a
        group of users.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul ng-model="roles" id="viewSortable" class="admin-list-box">
        <li ng-repeat="role in roles.roles" ng-class="{'list-selected' : role == selectedRole}" ng-click="selectRole(role)">{{role.name}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" role="form">
        <fieldset>

          <div class="form-group">
            <label class="col-md-3 control-label" for="role-name">Name:</label>
            <div class="col-md-9">
              <input id="role-name" name="role-name" type="text" placeholder="Name" class="form-control input-md" ng-model="selectedRole.name" ng-disabled="! selectedRole">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" for="role-users">Users:</label>
            <div class="col-md-9">
              <select id="role-users" selectize-tags options="selectedRole.users" model="selectedRole.users" ></select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" for="role-permissions">Permissions:</label>
            <div class="col-md-9">
              <select id="role-permissions" selectize-tags options="selectedRole.permissions" model="selectedRole.permissions" ></select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
            <button class="btn btn-default" ng-click="newRole()">New role</button>
            <button class="btn" ng-class="selectedRole ? &apos;btn-warn&apos; : &apos;btn-default&apos;" ng-disabled="! selectedRole" ng-click="deleteRole(selectedRole)">Delete role</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
