<div class="row">
  <div class="col-md-8">
    <p class="text-muted">
      Edit the content for a page view here.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <form class="form-horizontal" role="form" name="attributeForm">
      <textarea class="page-editor" ng-model="view.view.body"></textarea>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <button class="btn" ng-class="modified ? &apos;btn-danger&apos; : &apos;btn-default&apos;" ng-disabled="! modified" ng-click="save(view)">Save changes</button>
    <button class="btn btn-default" ng-disabled="! modified" ng-click="reset()">Reset</button>
  </div>
</div>
