<ol class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li>{{params.studyName}}
    <span ng-show="modified" class="badge alert-danger">modified</span>
  </li>
</ol>

<tabset>

  <tab heading="Attributes" ng-controller="AttributeEditorController">

    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">
          This creates all the available study attributes. Each attribute has a type, an unique internal key name, a label, and
          some extra options such as tags and display pinning. For example, confidential information is usually tagged, which
          makes it easier to avoid them in views. You can also "pin" the main identifier, which means it stays visible when 
          scrolling wide views.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul ui-sortable="attributeSortableOptions" ng-model="study.attributes" id="attributeSortable" class="admin-list-box">
          <li ng-repeat="attribute in study.attributes" ng-class="{'list-selected' : attribute == selectedAttribute}" ng-click="selectAttribute(attribute)">{{attribute.label}} <span ng-repeat="tag in attribute.options.tags" class="label label-default">{{tag}}</span></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form" name="attributeForm">
          <fieldset>

            <div class="form-group">
              <label class="col-md-2 control-label" for="attribute-type">Data type:</label>  
              <div class="col-md-4">
                <select id="attribute-type" name="type" selectize options="attributeTypes" model="selectedAttribute.type" ng-disabled="! selectedAttribute"></select>
                <span class="error" ng-show="selectedAttribute &amp;&amp; ! selectedAttribute.type">This field is required</span>
              </div>

              <label class="col-md-2 control-label" for="attribute-name">Key:</label>  
              <div class="col-md-4">
                <input id="attribute-name" name="attribute-name" type="text" placeholder="Key" class="form-control input-md" ng-model="selectedAttribute.name" ng-disabled="! selectedAttribute">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label" for="attribute-label">Label:</label>  
              <div class="col-md-10">
                <input id="attribute-label" name="attribute-label" type="text" placeholder="Label" class="form-control input-md" ng-model="selectedAttribute.label" ng-disabled="! selectedAttribute">
              </div>
            </div>

            <div class="form-group" ng-show="selectedAttribute &amp;&amp; selectedAttribute.type == 'option'">
              <label class="col-md-2 control-label" for="attribute-values">Option values:</label>  
              <div class="col-md-10">
                <select id="attribute-values" selectize-list model="selectedAttribute.options.values" ng-disabled="! selectedAttribute"></select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label" for="attribute-tags">Tags:</label>  
              <div class="col-md-4">
                <select id="attribute-tags" selectize-tags options="attributeTags" model="selectedAttribute.options.tags" ng-disabled="! selectedAttribute" ></select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2"></div>  
              <div class="col-md-10">
              <button class="btn btn-default" ng-click="newAttribute()">New attribute</button>
              <button class="btn" ng-class="selectedAttribute ? &apos;btn-warn&apos; : &apos;btn-default&apos;" ng-disabled="! selectedAttribute" ng-click="deleteAttribute(selectedAttribute)">Delete attribute</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </tab>

  <tab heading="Views" ng-controller="ViewEditorController">

    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">
          This manages the available study views. Views show a subset of attributes, and can be authorized for a
          group of users. 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul ng-model="study.views" id="viewSortable" class="admin-list-box">
          <li ng-repeat="view in study.views" ng-class="{'list-selected' : view == selectedView}" ng-click="selectView(view)">{{view.name}} &mdash; {{view.description}} </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <fieldset>

            <div class="form-group">
              <label class="col-md-2 control-label" for="view-description">Description:</label>  
              <div class="col-md-4">
                <input id="view-description" name="view-description" type="text" placeholder="Description" class="form-control input-md" ng-model="selectedView.description" ng-disabled="! selectedView">
              </div>

              <label class="col-md-2 control-label" for="view-name">Key:</label>  
              <div class="col-md-4">
                <input id="view-name" name="view-name" type="text" placeholder="Key" class="form-control input-md" ng-model="selectedView.name" ng-disabled="! selectedView">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2"></div>  
              <div class="col-md-10">
              <button class="btn btn-default" ng-click="newView()">New view</button>
              <button class="btn" ng-class="selectedView ? &apos;btn-warn&apos; : &apos;btn-default&apos;" ng-disabled="! selectedView" ng-click="deleteView(selectedView)">Delete view</button>
              <button class="btn" ng-class="selectedView ? &apos;btn-warn&apos; : &apos;btn-default&apos;" ng-disabled="! selectedView || modified" ui-sref="adminView({studyName: study.name, viewName: selectedView.name})">Edit view</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </tab>

</tabset>

<div class="row">
  <div class="col-md-12">
    <hr>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <button class="btn" ng-class="modified ? &apos;btn-danger&apos; : &apos;btn-default&apos;" ng-disabled="! modified" ng-click="save(study)">Save changes</button>
    <button class="btn btn-default" ng-disabled="! modified" ng-click="reset()">Reset</button>

    <button ng-show="study.audit" ng-disabled="modified" class="btn btn-default" ui-sref="adminAudit({studyName: study.name})">Show study audit log</button>

  </div>
</div>
