<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/studies/{{studyName}}">{{studyName}}</a></li>
  <li>{{viewName}}</li>
</ol>

<form class="form-inline pull-right" role="form">
  <div ng-show="identifierAttribute" class="form-group form-group-sm">
    <label for="identifierFilter">Find entries</label>
    <input id="identifierFilter" type="text" class="form-control input-sm" ng-model="filterText" placeholder="Identifier">
  </div>
</form>

<h3>
  <div style="display:inline-block;">
    <toggle-switch model="editingStatus" class="switch-danger switch-small" knob-label="Editing"><toggle-switch>
  </div>
  <small ng-show="currentUsers.length">
    Also connected: 
    <span ng-repeat="user in currentUsers" class="badge" ng-class="&apos;editorUser-&apos; + $index">{{user}}</span></small>
</h3>

<div tracker-error error-message="errorMessage"></div>

<div class="tracker-trid grid-style" ui-grid="gridOptions" ui-grid-pinning ui-grid-cellnav ui-grid-edit ui-grid-resize-columns ui-grid-infinite-scroll ui-grid-auto-resize></div>

<div ng-controller="GridActionController">
  <button ng-show="permissions.write" class="btn btn-default" ng-click="createNewRecord()" ng-disabled="! editingStatus">Create New Record</button>
  <button ng-show="permissions.download" class="btn btn-default" ng-click="export()">Export Spreadsheet</button>
</div>
