<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/util
	                    http://www.springframework.org/schema/util/spring-util.xsd">
	
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager">
    </bean>
    
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager" />
        <property name="realms" ref="securityRealms" />
    </bean>
    
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    
    <!-- Profile for authenticating and authorizing from a database -->
    <beans profile="database_realm">
    
        <util:list id="securityRealms" value-type="org.apache.shiro.realm.Realm">
            <ref bean="authenticationRealm" />
        </util:list>
        
        <bean id="passwordMatcher" class="ca.uhnresearch.pughlab.tracker.security.BcryptPasswordMatcher">
        </bean>

        <bean id="authenticationRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
            <property name="dataSource" ref="dataSource" />
            <property name="credentialsMatcher" ref="passwordMatcher" />
            <property name="permissionsLookupEnabled" value="true" />
            <property name="authenticationQuery">
                <value>
                    SELECT HASH FROM USERS WHERE USERNAME = LOWER(?)
                </value>
            </property>
            <property name="userRolesQuery">
                <value>
                    SELECT R.NAME FROM USER_ROLES UR JOIN ROLES R ON UR.ROLE_ID = R.ID WHERE UR.USERNAME = LOWER(?)
                </value>
            </property>
            <property name="permissionsQuery">
                <value>
                    SELECT RP.PERMISSION FROM ROLE_PERMISSIONS RP JOIN ROLES R ON RP.ROLE_ID = R.ID WHERE R.NAME = ?
                </value>
            </property>
        </bean>
    </beans>
    
    <!-- Profile for authenticating from LDAP and authorizing from a database -->
    <beans profile="ldap_realm">
    
        <util:list id="securityRealms" value-type="org.apache.shiro.realm.Realm">
            <ref bean="authenticationRealm" />
            <ref bean="authorizationRealm" />
        </util:list>
        
        <bean id="authenticationRealm" class="ca.uhnresearch.pughlab.tracker.security.LdapRealm">
            <property name="ldapContexts">
                <util:list>
                    <ref bean="risLdapContext" />
                    <ref bean="simsLdapContext" />
                </util:list>
            </property>
        </bean>
        
        <!-- A standard context that we can use for RIS -->
        <bean id="risLdapContext" class="ca.uhnresearch.pughlab.tracker.security.DomainLdapContext">
            <property name="domain" value="ads.uhnresearch.ca" />
            <property name="ldapHost" value="192.168.198.100" />
            <property name="ldapPort" value="389" />
            <property name="timeout" value="60" />
            <property name="searchTemplate" value="OU=user,OU=accounts,DC=ads,DC=uhnresearch,DC=ca" />
            <property name="filterTemplate" value="(userPrincipalName={0})" />
        </bean>
        
        <!-- A standard context that we can use for SIMS -->
        <bean id="simsLdapContext" class="ca.uhnresearch.pughlab.tracker.security.DomainLdapContext">
            <property name="domain" value="uhn.ca" />
            <property name="ldapHost" value="142.224.16.52" />
            <property name="ldapPort" value="389" />
            <property name="timeout" value="60" />
            <property name="searchTemplate" value="OU=UHNPeople,DC=uhn,DC=ca" />
            <property name="filterTemplate" value="(userPrincipalName={0})" />
        </bean>
        
        <bean id="authorizationRealm" class="ca.uhnresearch.pughlab.tracker.security.JdbcAuthorizingRealm">
            <property name="dataSource" ref="dataSource" />
            <property name="permissionsLookupEnabled" value="true" />
            <property name="userRolesQuery">
                <value>
                    SELECT R.NAME FROM USER_ROLES UR JOIN ROLES R ON UR.ROLE_ID = R.ID WHERE UR.USERNAME = LOWER(?)
                </value>
            </property>
            <property name="permissionsQuery">
                <value>
                    SELECT RP.PERMISSION FROM ROLE_PERMISSIONS RP JOIN ROLES R ON RP.ROLE_ID = R.ID WHERE R.NAME = ?
                </value>
            </property>
        </bean>
        
    </beans>
    
    <!-- Profile for handling authentication data as a username/password form -->
    <beans profile="form_authentication">
        <bean id="sessionAccessFilter" class="ca.uhnresearch.pughlab.tracker.security.SessionAccessFilter">
            <property name="authcScheme" value="session" />
        </bean>
    
        <bean id="sessionAuthenticationFilter" class="ca.uhnresearch.pughlab.tracker.security.SessionAuthenticationFilter">
            <property name="loginUrl" value="/api/authorization/login" />
            <property name="successUrl" value="/api/studies" />
            <property name="authcScheme" value="session" />
        </bean>
        
        <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
            <property name="securityManager" ref="securityManager"/>
            
            <property name="filters">
                <util:map>
                    <entry key="sessionAuthentication" value-ref="sessionAuthenticationFilter" />
                    <entry key="sessionAccess" value-ref="sessionAccessFilter" />
                </util:map>
            </property>
            
            <property name="filterChainDefinitions">
                <value>
                    /api/authorization/login = sessionAuthentication
                    /api/authorization/logout = logout
                    /api/** = sessionAccess
                    /events/** = sessionAccess
                    /** = anon
                </value>
            </property>
        </bean>
    </beans>

</beans>