<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/util
	                    http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="trackerComponent" class="org.restlet.ext.spring.SpringComponent">
		<property name="defaultTarget" ref="trackerApplication" />
	</bean>

	<bean id="trackerComponentChildContext" class="org.restlet.Context"> 
		<lookup-method name="createChildContext" bean="trackerComponent.context" /> 
	</bean>
	
	<bean id="trackerApplication" class="ca.uhnresearch.pughlab.tracker.application.TrackerApplication">
		<property name="inboundRoot" ref="router" />
	</bean>

	<!-- Define the router -->
	<bean name="router" class="org.restlet.ext.spring.SpringRouter">
		<constructor-arg ref="trackerComponentChildContext" />
		<property name="attachments">
	        <map>
 	            <entry key="/" value-ref="staticsDirectory" />
	        </map>
	    </property>
	</bean>
	
	<bean id="staticsDirectory" class="ca.uhnresearch.pughlab.tracker.restlets.DirectoryFactoryBean">
		<property name="component" ref="trackerComponent" />
	</bean>
	
<!-- 	<bean id="apiRouter" class="org.restlet.ext.spring.SpringRouter">
		<constructor-arg ref="router" />
		<property name="attachments">
	        <map>
	            <entry key="/studies">
	            	<bean class="org.restlet.ext.spring.SpringFinder">
	            		<lookup-method name="create" bean="studiesResource" />
	            	</bean>
	            </entry>
	            <entry key="/studies/{studyName}" value-ref="studyExtractor" />
	        </map>
	    </property>

	</bean>
	
	<bean id="studyExtractor" class="ca.uhnresearch.pughlab.tracker.extractor.StudyExtractor">
		<property name="repository" ref="studyRepository"/>
		<property name="next" ref="studyRouter"/>
	</bean>
	
	<bean id="studyRouter" class="org.restlet.ext.spring.SpringRouter">
		<constructor-arg ref="apiRouter" />
		<property name="attachments">
	        <map>
 	            <entry key="/views">
	            	<bean class="org.restlet.ext.spring.SpringFinder">
	            		<lookup-method name="create" bean="studiesViewsResource" />
	            	</bean>
	            </entry>
	            <entry key="/views/{viewName}" value-ref="viewExtractor" />
	        </map>
	    </property>
	</bean>
	
	<bean id="viewExtractor" class="ca.uhnresearch.pughlab.tracker.extractor.ViewExtractor">
		<property name="repository" ref="studyRepository"/>
		<property name="next" ref="viewRouter"/>
	</bean>
	
	<bean id="viewRouter" class="org.restlet.ext.spring.SpringRouter">
		<constructor-arg ref="studyRouter" />
		<property name="attachments">
	        <map>
 	            <entry key="">
	            	<bean class="org.restlet.ext.spring.SpringFinder">
	            		<lookup-method name="create" bean="viewDataResource" />
	            	</bean>
	            </entry>
	        </map>
	    </property>
	</bean>
		
	<bean id="studyRepository" class="ca.uhnresearch.pughlab.tracker.dao.impl.StudyRepositoryImpl">
		<property name="template" ref="queryDslJdbcTemplate"/>
	</bean>
	
	<bean id="studiesResource" class="ca.uhnresearch.pughlab.tracker.resource.TrackerResource" scope="prototype">
		<property name="repository" ref="studyRepository"/>
	</bean>
 	<bean id="studiesViewsResource" class="ca.uhnresearch.pughlab.tracker.resource.StudyResource" scope="prototype">
		<property name="repository" ref="studyRepository"/>
	</bean>
 	<bean id="viewDataResource" class="ca.uhnresearch.pughlab.tracker.resource.ViewResource" scope="prototype">
		<property name="repository" ref="studyRepository"/>
	</bean>
	
	<bean id="dbcpDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver" />
		<property name="url" value="jdbc:hsqldb:file:tracker_test;default_schema=true;shutdown=true" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
         <constructor-arg ref="dbcpDataSource"/>
    </bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="queryDslJdbcTemplate" class="org.springframework.data.jdbc.query.QueryDslJdbcTemplate">
		<constructor-arg ref="jdbcTemplate"/>
	</bean>

	<bean id="transactionFilter" class="ca.uhnresearch.pughlab.tracker.filter.TransactionFilter">
		<property name="transactionManager" ref="txManager"/>
	</bean>
 --></beans>
