<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="trackerComponent" class="org.restlet.ext.spring.SpringComponent">
		<property name="defaultTarget" ref="trackerApplication" />
	</bean>

	<bean id="trackerApplication" class="ca.uhnresearch.pughlab.tracker.application.TrackerApplication">
		<property name="root" ref="router" />
	</bean>

	<!-- Define the router -->
	<bean name="router" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
	        <map>
	            <entry key="/studies">
	            	<bean class="org.restlet.ext.spring.SpringFinder">
	            		<lookup-method name="create" bean="studiesResource" />
	            	</bean>
	            </entry>
	        </map>
	    </property>
	</bean>
		
	<!-- Define the resources -->
	<bean id="studyRepository" class="ca.uhnresearch.pughlab.tracker.dao.impl.StudyRepositoryImpl">
		<property name="template" ref="queryDslJdbcTemplate"/>
	</bean>
	
	<!-- Define the resources -->
	<bean id="studiesResource" class="ca.uhnresearch.pughlab.tracker.resource.TrackerResource" scope="prototype">
		<property name="repository" ref="studyRepository"/>
	</bean>
	
	<bean id="dbcpDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver" />
		<property name="url" value="jdbc:hsqldb:file:tracker_test;default_schema=true;shutdown=true" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
         <constructor-arg ref="dbcpDataSource"/>
    </bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="queryDslJdbcTemplate" class="org.springframework.data.jdbc.query.QueryDslJdbcTemplate">
		<constructor-arg ref="jdbcTemplate"/>
	</bean>

	<bean id="transactionFilter" class="ca.uhnresearch.pughlab.tracker.filter.TransactionFilter">
		<property name="transactionManager" ref="txManager"/>
	</bean>
</beans>
