<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/util
	                    http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="trackerAuthenticator" class="org.restlet.ext.crypto.CookieAuthenticator">
		<constructor-arg ref="trackerComponentChildContext" />
		<constructor-arg value="Tracker" />
		<constructor-arg value="genomicSingularity" />
		<property name="cookieName" value="trackerCookie" />
		<property name="identifierFormName" value="username" />
		<property name="secretFormName" value="password" />
		<property name="loginPath" value="/authentication/login" />
		<property name="logoutPath" value="/authentication/logout" />
		<property name="verifier" ref="trackerVerifier" />
		<property name="next" ref="apiRouter" />
	</bean>
	
	<bean id="trackerVerifier" class="ca.uhnresearch.pughlab.tracker.restlets.CustomMapVerifier">
	</bean>
</beans>
