<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/util
	                    http://www.springframework.org/schema/util/spring-util.xsd">
                        
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value = "#{contextParameters.propertiesLocation}" />
    </bean>
	                    
	<bean id="trackerComponent" class="org.restlet.ext.spring.SpringComponent">
		<property name="defaultTarget" ref="trackerApplication" />
        <property name="logService" ref="logService" />
	</bean>
	
    <bean id="logService" class="org.restlet.service.LogService">
        <property name="loggerName" value="http" />
    </bean>
    
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    	<property name="targetObject"><value>#{trackerComponent.getClients()}</value></property>
    	<property name="targetMethod"><value>add</value></property>
    	<property name="arguments">
	        <list>
	            <value type="org.restlet.data.Protocol">CLAP</value>
	        </list>
	    </property>
    </bean>

	<bean id="trackerComponentChildContext" class="org.restlet.Context"> 
		<lookup-method name="createChildContext" bean="trackerComponent.context" /> 
	</bean>
	
	<bean id="trackerApplication" class="ca.uhnresearch.pughlab.tracker.application.TrackerApplication">
		<property name="inboundRoot" ref="router" />
	</bean>

	<!-- Define the router -->
	<bean id="router" class="org.restlet.ext.spring.SpringRouter">
		<constructor-arg ref="trackerComponentChildContext" />
		<property name="attachments">
	        <map>
 	            <entry key="/api" value-ref="apiRouter" />
 	            <entry key="" value-ref="staticsRewrite" />
	        </map>
	    </property>
    </bean>
    
    <bean id="staticsRewrite" class="ca.uhnresearch.pughlab.tracker.restlets.DefaultingFilterFactoryBean">
		<property name="component" ref="trackerComponent" />
		<property name="next" ref="staticsDirectory" />
		<property name="defaultPath" value="/index.html" />
    </bean>
    
	<bean id="staticsDirectory" class="ca.uhnresearch.pughlab.tracker.restlets.DirectoryFactoryBean">
		<property name="component" ref="trackerComponent" />
		<property name="resourceRoot" value="clap://thread/client" />
	</bean>
	
</beans>
